.main-card {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-card figcaption {
    font-weight: 600;
    font-style: italic;
}

.main-card img {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.main-card.-second {
    transform: scale(0.8);
}

.main-card.-second figcaption {
    
    line-height: 50px;
    width: 100%;

    font-size: 1.5rem;
    font-family: 'Lora';
    font-weight: 400;
    font-style: normal;

    color: #B1B8DC;
    background-color: #000;

    text-align: center;
}

.main-card.-second img {
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}